h6 {
    
    text-align: center;
    text-decoration: underline;
}

p {
    font-size: 115%;
}

div {
    text-align: justify;
    text-justify: inter-word;
}

.contenedor-imagenes {
    display: flex;
    size: 80px;
  }