h1 {
    line-height: 70%;
    font-size: 140%;
    margin: auto;
}

.img-fluid {

    margin-left: 15%;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

h6 {
    text-align: left;
    text-decoration: underline;
    font-style: oblique;
}

p {
    font-size: 115%;

}

div {
    text-align: justify;
    text-justify: inter-word;
}

.centrador {
    position: relative
}

.tamaño {
    font-size: 105%;
}