img{
    height:auto; width: 100%;
   
}

h1{ 
    line-height: 80%;
    font-size: 150%;
    
   
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
 }

 